.login-layout {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 80vh;
}

.login-btn {
  display: flex;
  justify-content: center;
}

.login-btn button {
  width: 100%;
  border-radius: 5px;
  height: 38px;
  border: 0;
  outline: 0;
  background: rgb(255, 141, 121);
  color : white
}

.login-menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.login-menu div {
  
}

.login-logo {
  display: flex;
  justify-content: center;
}